<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/style.css}"/>
    <title>Index</title>
</head>
<body>
<div class="d-flex flex-column align-items-center">
    <h1 class="title">Main page</h1>
    <form class="d-flex flex-column align-items-center needs-validation" th:action="@{/}" method="post">
        <div class="m-2">
            <label for="id" class="form-label">ID</label>
            <input type="number" id="id" name="id" class="form-control"/>
        </div>
        <div class="m-2">
            <label for="author" class="form-label">Author</label>
            <input type="text" id="author" name="author" class="form-control" required/>
        </div>
        <div class="m-2">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="title" class="form-control" required/>
        </div>
        <input id="submit" class="btn btn-primary w-25" type="submit" value="Log in"/>
    </form>

    <div class="my-3">
        <table class="table table-striped ">
            <tr class="header-text-size">
                <th>ID</th>
                <th>Author</th>
                <th>Title</th>
                <th>LastModifiedBy</th>
                <th>LastModifiedDate</th>
                <th>CreatedBy</th>
                <th>CreatedDate</th>
            </tr>
            <tr th:each="book : ${books}" class="table-text-size">
                <td th:text="${book.id}">ID</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.lastModifiedBy}">LastModifiedBy</td>
                <td th:text="${book.lastModifiedDate}">LastModifiedDate</td>
                <td th:text="${book.createdBy}">CreatedBy</td>
                <td th:text="${book.createdDate}">CreatedDate</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>