<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/style.css}"/>
    <title>Login</title>
</head>
<body>
<div class="d-flex flex-column align-items-center">
    <h1 class="title">Login page</h1>
    <form class="d-flex flex-column align-items-center needs-validation" th:action="@{/login.html}" method="post">
        <div class="row m-2">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" class="form-control" name="username" autofocus="autofocus" required/>
        </div>
        <div class="row m-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required/>
        </div>
        <div class="row m-2">
            <input id="submit" class="btn btn-primary" type="submit" value="Log in"/>
        </div>
    </form>
    <div><p>OR</p></div>
    <div>
        <h4><a class="btn btn-primary" th:href="@{/oauth2/authorization/google}">Login with Google</a></h4>
    </div>

    <div th:if="${loginError}" class="alert alert-danger">Wrong user or password</div>
</div>
</body>
</html>