<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/public/style.css}"/>
    <title>Public</title>
</head>
<body>
<div class="container">
    <h1 class="title">About</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fringilla nisi tellus, a faucibus risus
        faucibus eu. Vestibulum euismod, turpis non vestibulum viverra, velit velit vulputate lacus, sed blandit quam
        magna a nulla. Quisque porttitor quam a tellus malesuada interdum. Aliquam orci turpis, pellentesque non dolor
        sit amet, molestie malesuada magna. Phasellus condimentum turpis lorem, vel efficitur sapien tincidunt nec.
        Proin fermentum sit amet lectus ac dignissim. Sed elit dolor, lacinia in arcu id, accumsan efficitur libero.
        Vestibulum aliquam et sapien a molestie.
    </p>

    <p>
        Quisque et lacus a enim pharetra suscipit. Vivamus vitae ligula sagittis, laoreet ipsum nec, eleifend massa.
        Nullam augue libero, scelerisque id felis sit amet, consectetur maximus lectus. Nulla libero nisi, tincidunt eu
        vehicula eu, egestas a turpis. Etiam feugiat neque quis ligula scelerisque, fermentum semper purus sollicitudin.
        Quisque aliquet eros eros, a posuere metus ornare at. Aliquam tincidunt sem at mi porttitor, ut varius eros
        condimentum. Suspendisse laoreet ut tortor quis molestie. Sed tincidunt, sem vel tincidunt tempor, dolor nibh
        rhoncus quam, ut maximus nulla enim ut arcu. Pellentesque vitae libero odio. Morbi ac nunc eget neque fermentum
        lobortis. In eu nunc ac sem aliquam rhoncus id vel dui. Suspendisse varius elit justo. Quisque fringilla dolor
        eu imperdiet consectetur. Praesent sit amet ligula nec mauris accumsan fringilla non non massa. Suspendisse nisi
        neque, sollicitudin nec tincidunt quis, posuere et metus.
    </p>

    <p>
        Nullam sed malesuada ex, nec ultricies nisi. Integer vestibulum eros ut iaculis scelerisque. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Etiam lacinia dui quis sem imperdiet, cursus lobortis nisl
        lobortis. In hac habitasse platea dictumst. Maecenas leo quam, gravida nec blandit eget, aliquam a quam. Duis in
        odio lorem. Pellentesque ornare sit amet velit nec pulvinar. Sed consectetur volutpat augue in tristique. Cras
        eu mi dignissim, elementum odio convallis, varius nisl. Ut imperdiet tincidunt sapien, vel viverra ligula
        pellentesque vitae. Integer ornare mi nec libero ultricies aliquet. Sed volutpat a diam sit amet ultricies. Ut
        congue nulla metus, eu aliquam dui convallis a. Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nunc nunc diam, dictum ac iaculis eu, faucibus non ligula.
    </p>

    <p>
        Praesent eget mauris id risus dapibus faucibus a nec augue. Praesent tempor euismod velit sed maximus. Sed ac
        ullamcorper ipsum. Aenean quam purus, convallis in hendrerit quis, facilisis eu eros. Nulla molestie orci vel
        dictum gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam
        dapibus feugiat sapien, eget luctus neque tempor nec. Curabitur volutpat eros ligula, eget maximus magna tempus
        sit amet. Curabitur hendrerit, leo a lacinia interdum, dolor nibh porttitor ex, id imperdiet odio augue eu
        felis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent in urna quis leo condimentum
        ullamcorper sit amet at metus. Nunc pulvinar, ipsum vitae vestibulum pulvinar, dolor purus lobortis ante, ut
        fringilla massa velit at purus. Maecenas pharetra nulla at neque aliquet posuere. Aliquam sagittis lacinia
        nulla, at iaculis purus congue vestibulum. In a dui sed tellus hendrerit vulputate nec ac urna. Duis
        pharetra.
    </p>
</div>
</body>
</html>